<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot_password</title>
    <link rel="stylesheet" href="./css/login3.css">
    <!-- <link th:href="@{css/login3.css}" rel="stylesheet"> -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

</head>

<body>
    <div id="particles-js"></div>
    <div class="login-box">
        <h2>忘記密碼</h2>
        <!-- <div th:if="${error != null}">
            <p class="text-danger">[[${error}]]</p>
        </div>
        <div th:if="${message != null}">
            <p class="text-warning">[[${message}]]</p>
        </div> -->
        <form action="/forgotPassword" method="post" class="form"  onsubmit="parent.close();">
            <div class="user-box">
                <input type="text" id="empID" name="empID" value="" required="required">
                <label>員工編號</label>
            </div>
            <div class="user-box">
                <input type="email" name="email" value="" required="required">
                <label>註冊信箱</label>
            </div>

            <div class="forget">
                <a href="./index.html" type="submit" class="forget">
                    返回登入
                </a>
            </div>

            <div style=" text-align: center;">
                <button type="submit" class="login" id="login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    發送
                </button>
            </div>
        </form>
    </div>


    <!-- <script src="particles.js"></script> -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- <script>
        particlesJS.load('particles-js', 'particlesjs-config.json', function() {
        console.log('callback - particles.js config loaded');
        });
    </script> -->
    <script src="./js/login.js"></script>
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- 存取cookie empID -->
    <script>
        $('#login').click(function () {
            var my_session = $('input[name = "empID"]').val();
            $.cookie('session_id', my_session);
            // alert("請至原註冊信箱收信")            
        });
    </script>

</body>

</html>