/* 設定內容置中 */
main{
    text-align: center;
    padding-top:50px;
    font-size: 1.5rem;
}

h1{
text-align:left;
}

/* 審核狀態欄位隱藏 */
.leavePersonal{
display: none;
}

/* 設定按鈕間距 */
#btnCheckYES,#btnCheckNO{
margin: 0.5rem;
font-size: 1.5rem;
}

/* alert框 */
.modal-body{
	padding:1.5rem;
	position: relative;
	display:flex;
	justify-content: center;
	align-items: baseline;
}

/* alert內容 */
.alertContent{	
	 font-weight: bold;
	 font-size: 1.5rem;
	 text-align: center; 
}

/* alert關閉按鈕 */
.alertClose{
	position:absolute;
	right:1rem;
	
}

/* 簽名處背景 */
#signature{
    background-color: white;
}


/* 簽名板背景 */
#drawer{
    display:none;
    width: 50%;
    background-color: #49678D;
    margin: auto;
    text-align: center;
    margin-top:1.5rem;
    margin-bottom:1rem;
}

/* 簽名板標題 */
h4{
    color: white;
}

/* 簽名板按鈕 */
#drawer button,#btnUndo{
    
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0.25rem;
    margin: 0.2rem;    
	font-size: 1.2rem;
}